<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p]-[%t] (%F:%L) [%M] %m%n" />
		</layout>
	</appender>

	<appender name="StpAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/stp.log" />
		<param name="MaximumFileSize" value="10000000" />
		<param name="MaxBackupIndex" value="100" />
		<param name="MaxFileSize" value="10MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p]-[%t] (%F:%L) [%M] %m%n" />
		</layout>
	</appender>

	<appender name="SpringframeworkAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/springframework.log" />
		<param name="MaximumFileSize" value="10000000" />
		<param name="MaxBackupIndex" value="100" />
		<param name="MaxFileSize" value="10MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p]-[%t] (%F:%L) [%M] %m%n" />
		</layout>
	</appender>


	<logger name="com.oct.ga">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="test.unit.dao">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="test.unit.sevice">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="org.springframework">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="org.springframework.web.servlet.DispatcherServlet">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="com.mchange.v2">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="com.alisoft.xplatform">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="org.apache.commons">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="com.notnoop.apns">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	
	<logger name="org.apache.velocity">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

</log4j:configuration>
